.out-screen{position:absolute;left:-9999px;top:-9999px}
::-ms-clear{display:none}
::-ms-reveal{display:none}
:focus{outline:0}
.placeholder{position:absolute;left:11px;top:33px;color:#B4B6C0}
input::-moz-placeholder,textarea::-moz-placeholder{color:#B4B6C0}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#B4B6C0}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#B4B6C0}



.chk-group{text-align:left}
.chk-group input{width:18px;height:18px;cursor:pointer;filter:alpha(opacity=0);opacity:0}
.chk-group label{position:relative;margin-left:9px}
.chk-group input+label:before{content:url(../images/unchecked.png);position:absolute;left:-27px;top:0;width:18px;height:18px}
.chk-group input:checked+label:before{content:url(../images/checked.png)}
.ssid-list-wrapper{position:relative}
.ssid-list{width:335px;height:350px;overflow:hidden}
.ssid-list ul li{height:58px;line-height:58px}
.ssid-list ul li a{overflow:hidden;display:block;width:89%;height:100%;margin:0 auto;border-bottom:1px solid #F2F4F7;color:#4A4E5F;text-indent:30px;}
.ssid-list ul li a.select{background:url(../images/s_list_select.png) no-repeat left center}
.ssid-list ul li.is_encrypt{background:url(../images/s_lock.png) no-repeat 91.75% 50%}
.ssid-list ul li a.set-wifi-name{color:#5a9ce6}
.btn-bright{background:#fff;color:#5a9ce6}
.sub-choose{font-size:14px;text-align:center;line-height:20px;}
.mt-20{margin-top:20px}
.loading{-o-animation:rotate linear 1s infinite;-ms-animation:rotate linear 1s infinite;-moz-animation:rotate linear 1s infinite;-webkit-animation:rotate linear 1s infinite;animation:rotate linear 1s infinite}
.result-icon{width:100%;padding:80px 0}
.result-icon .correct,.result-icon .error,.result-icon .warning{width:96px;margin:0 auto}
.result-icon .correct img,.result-icon .error img,.result-icon .warning img{width:100%;height:100%}
.off{display:none}
a{color:#5a9ce6;text-decoration:none}
.article { padding: 0 3%; }
.page{width:100%; padding-top:75px; position:relative; }
.page-welcome h1{font-size:36px; font-weight:normal; color:#1D202C;line-height:1;margin:60px 0 10px;}
.page-welcome img { /*width: 75%;*/ margin: 55px auto; /*max-width: 330px;*/ }


@media (max-width: 320px) {
	.page-welcome h1{font-size:22px; margin-top:40px; }
	.page-welcome img { /*width: 70%;*/ margin-top: 35px; }
}

@media (min-width: 321px) and (max-width: 449px) {
	.page-welcome h1{font-size:28px;}
	.page-welcome img {  /*width: 68%;*/  }
}

@media (min-width: 450px) and (max-width: 550px) {
	.page-welcome h1{font-size:30px;}
	.page-welcome img { /*width: 68%;*/ }
}



.page-welcome .form {}
.page-cable-error,.page-welcome{text-align:center}
.page-cable-error img{margin-top:65px;width:223px}
.page-cable-error h2{font-size:20px;color:#1D202C;text-align:center;line-height:1;margin-top:50px}
.page-cable-error p.tips{opacity:.7;color:#7A7E8E;text-align:center;line-height:1;margin-top:12px}
.page-cable-error p.choose{font-size:14px;color:#4A4E5F;text-align:center;margin:31px auto 41px}
.page-get-method .detect,.page-get-wisp .detect,.page-igd-sw-detect .detect,.page-detect-net .detect,.page-wan-set-result .detect{width:100px;height:100px;margin:78px auto 0;position:relative}
.page-get-method .detect img,.page-get-wisp .detect img,.page-igd-sw-detect .detect img,.page-detect-net .detect img,.page-wan-set-result .detect img { max-width:100%;}
.page-get-method .detect-tip,.page-get-wisp .detect-tip,.page-igd-sw-detect .detect-tip,.page-detect-net .detect-tip,.page-wan-set-result .detect-tip{margin-top:45px;font-size:20px; color:#1D202C;text-align:center;line-height:1}
.page-get-method .detect-time,.page-get-wisp .detect-time,.page-igd-sw-detect .detect-time,.page-detect-net .detect-time,.page-detect-correct .detect-time,.page-wan-set-result .detect-time{font-size:14px;color:#7A7E8E;margin-top:12px;text-align:center;line-height:1}
.page-get-method .detect-time .count-down,.page-get-wisp .detect-time .count-down,.page-igd-sw-detect .detect-time .count-down,.page-wan-set-result .detect-time .count-down{font-size:16px;margin:0 2px}
.page-wisp-error h3,.page-igd-sw-correct h3,.page-igd-sw-error h3,.page-detect-error h3,.page-detect-correct h3{font-size:20px;font-weight:700;color:#1D202C;text-align:center;line-height:1;margin-bottom:30px}
.page-igd-sw-correct h3 p{ line-height:1.5; }
.page-wisp-error h3 { margin-bottom:80px;}
.page-igd-sw-correct,.page-igd-sw-error{width:100%;position:relative}
.page-igd-sw-correct .bottom,.page-igd-sw-error .bottom,.page-wisp-error .bottom,.page-detect-error .bottom{text-align:center}
.page-igd-sw-error .status,.page-detect-error .status{text-align:center;  margin:0 auto 40px;}
.page-igd-sw-error .status p,.page-detect-error .status li{opacity:.7;font-size:14px;color:#7A7E8E;line-height:1.5}
.page-detect-error .status { width:345px; padding-left:40px; }
.page-detect-error .status ul { }
.page-detect-error .status li { list-style-type:circle; text-align:left; }
.page-igd-sw-correct #net-info{margin-bottom:40px}
.page-igd-sw-correct #net-info ul{display:table;table-layout:fixed;word-break:break-all;word-wrap:break-word; max-width:350px;margin:0 auto; }
.page-igd-sw-correct #net-info ul li{font-size:14px;color:#7A7E8E;line-height:24px;  /*white-space:nowrap*/}
.page-igd-sw-correct #net-info ul li span {display:table-cell;white-space: pre-wrap;  }
.page-igd-sw-correct #net-info ul li span.text { width:80px;  }
.page-igd-sw-correct #net-info ul.page-get-method .detect-time {display:inline-block;width:80px}
.page-get-method-error .get-method-tips{font-size:14px;color:#7A7E8E;text-align:center;line-height:1;margin-top:12px;margin-bottom:150px}
.f-icon { margin-top:60px; }
.page-set-network .info,.page-set-wifi .info,.page-set-wisp .info{margin-top:60px;margin-bottom:30px; min-width:240px;}
.page-set-network .info h2,.page-set-wifi .info h2,.page-set-wisp .info h2{font-size:18px;color:#1D202C;line-height:33px;}
.page-set-network .info p,.page-set-wifi .info p,.page-set-wisp .info p{font-size:12px;color:#7A7E8F;margin-top:4px}
.page-end .info { margin-top:60px; }
.page-end .info h2{font-size:18px;color:#1D202C;line-height:1; margin-top:30px;}
.page-end .info p{margin-top:12px;font-size:16px;color:#7A7E8F;line-height:1}



.page-igd-sw-wifi .wrapper,.page-set-wifi .wrapper,.page-set-wisp .wrapper{width:100%;margin:0 auto}
.page-igd-sw-wifi .tip-name,.page-igd-sw-wifi .tip-wifi{font-size:12px;color:#B4B6C0;line-height:1;padding-left:10px}
.page-igd-sw .title,.page-igd-sw-wifi .title,.page-igd-sw-end .title{margin-bottom:38px;text-align:left}
.page-igd-sw .title h2 b { font-weight:normal; color:#ff3300; }
.page-igd-sw-end .title { margin-bottom:34px; }
.page-igd-sw-end .title h2 { margin-top:60px; }
.page-igd-sw .title p,.page-igd-sw-wifi .title p,.page-igd-sw-end .title p{font-size:12px;color:#7A7E8F;line-height:1.5}
.page-igd-sw-end #link-tips p { font-size:14px; color: #7A7E8E; text-align: center; margin:58px 0; }
.page-igd-sw,.page-igd-sw-end{width:335px;margin:0 auto}
.page-igd-sw #router-guide img,.page-igd-sw #router-guide-unlink img,.page-igd-sw-end #router-link-guide img{width:100%}
.page-igd-sw #set{width:335px;margin:0 auto}
.page-igd-sw #set .status{font-size:14px;color:#7A7E8E;margin-top:25px;margin-bottom:58px}
.page-igd-sw #set ul{ padding-left:20px; }
.page-igd-sw #set ul li{ list-style-type: circle;}
.page-end{ text-align:center; }

.page-end #jump-info{margin-top:40px;color:#000;text-align:center;line-height:28px}
.page-end #jump-info .count-down{font-size:20px}
.page-end .wifi-info{display:table;table-layout: fixed;word-break: break-all;word-wrap: break-word; margin: 0 auto;text-align:left; max-width:420px; margin:20px auto;}
.page-end .wifi-info .row{color:#7A7E8F;font-size:18px;line-height:1;margin-top:20px}
.page-end .wifi-info .row span { display:table-cell; white-space: pre-wrap; }
.page-end .wifi-info .row span:first-child { min-width:95px; color:#5a9ce6; padding-right:5px; text-align:right; }

.btn-section { text-align:center; margin:50px 0 20px; }
.btn-section .btn { margin:0 10px; }
.btn-small { width:134px; display:inline; }
.btn-gray { background:#B4B6C0; border:1px solid #B4B6C0; }

.refresh-section { zoom:1; overflow:hidden; width:55px; position:absolute; right:-78px; top:30px; }
.refresh-icon { display:block; float:left; }
#refresh { margin-left:6px; float:left; display:block; height:23px; line-height:23px; }
.ssid-wrapper { position:relative;  }

.invalid{font-size:12px;color:#f04142;position:absolute;left:0;bottom:-23px;}
.steps { float:right; margin-top:60px; margin-right:15px; }
.step-wizard {  position:relative;}
.set-cnt { float:left;}


.progress {
    position: absolute;
    content: '';
    width: 1px;
    height: 160px;
    left: 20px;
    top: 20px;
    z-index: 1;
}

.progress_bg{
	width:100%;
	height:100%;
	background: #ebebeb;	
}

.progress_bar{
	background: #ebebeb;
    width:100%;
	position:absolute;
	left:0;
	top:0;
}

.step-wizard ul,.step-wizard ul li{
	margin:0;
	padding:0;
	padding-bottom:40px;
	list-style-type:none;
}

.step-wizard ul{
	position:relative;
	z-index:2;
}

.step-wizard ul li{
	padding-bottom:40px;
}


.step-wizard a {
	text-decoration:none;
	display:block;
	cursor:default;
	text-align:left;
}

.step-wizard .step-number {
	width:35px;
	height:35px;
	margin-right: 10px;
	display:inline-block;
	border-radius: 50%;
	line-height:35px;
	text-align:center;
	background:#d4d4d4;
	color:#fff;
	position:relative;
	float:left;
}

.step-wizard b {
	font-weight:normal;
	z-index:4;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	font-size:12px;
}

.step-wizard .step-text,.step-wizard .step-discribe{
    color: #bfbfbf;
	float:left;
	line-height:30px;
}

.step-wizard .step-discribe{ position:absolute; left:45px; top:16px; font-size:12px; color:#a9a9a9; }

.step-wizard .done .step-number,.step-wizard .current .step-number{
	background:#d1e5f8;
}

.step-wizard .done .step-number:after,.step-wizard .current .step-number:after {
	content: ' ';
    width: 70%;
    height: 70%;
    background: #409EFF;
    border-radius: 50px;
    position: absolute;
    top: 15%;
    left: 15%;
	z-index:3
}

.step-wizard .done .step-text,.step-wizard .current .step-text{
	color: #409EFF;
	font-weight:bold;
}
.upgrade_text{text-align: right;padding-right: 15px;display: block;color: #535353;line-height: 36px;font-weight: normal;}

@media (max-width: 768px){
	.f-icon { display:none !important; }
	.set-cnt { margin-left:0; width:100% !important; }
	.page-set-network .info, .page-set-wifi .info, .page-set-wisp .info { margin-top:25px; margin-bottom:10px; }
	.steps { width:100% !important; float:none; margin-top:40px; margin-right:0; }
	.progress {
		width: 66%;
		height: 2px;
		left: 16.5%;
		top: 12px;
	}
	
	.step-wizard ul,.step-wizard ul li{
		position:relative;
	}
	
	.step-wizard ul{
		position:relative;
		z-index:2;
	}
	
	
	.step-wizard ul li{
		width:33%;
		display:block;
		float:left;
		padding-bottom:0;
	}
	
	.step-wizard a {
		position:relative;
		margin:0 auto;
	}
	
	.step-wizard .step-number {
		width:25px;
		height:25px;
		display:block;
		margin:0 auto;
		line-height:25px;
		float:none;
	}
	
	.step-wizard .step-text{
		position:absolute;
		left:0%;
		top:32px;
		width:100%;
		display:block;
		text-align:center;
		float:none;
	}
		.upgrade_text{text-align: center;width: 100%;    font-size: 16px;}
	
}

.f-lbl,.f-icon,.f-label,.f-control { float:left; position:relative; }
@media (min-width: 768px){
	.page-set-wifi .f-lbl,.page-set-wifi .f-label,.page-set-wifi .f-icon { width:23%; }
	.f-control{ width:77%; }
	.page-set-network .f-lbl,.page-set-network .f-label,.page-set-network .f-icon { width:20%; }
	.navbar-left ul li a, .navbar-right ul li a {
		font-size:13px;
	}
	.navbar-right ul li a i  { display:none; }
	#title .wrapper{ padding: 40px 0; } 
}
.navbar-right ul li i.switch { display:none; }

.collapse {
	display: block !important;
}

.navbar-left {
	border:none;
} 

.navbar-left ul li,.navbar-right ul li{
	float:left;
	
}
.navbar-left ul li{
	margin-right:40px;
}
.navbar-right ul li {
	margin-right: 30px;
}
.navbar-left {
	margin-top:0;
	margin-left:210px;
}
.navbar-toggle { display:none !important; }
.navbar-right { float:right !important; }
.navbar-left { float:left !important; }
#header .lang-sec{
	position:absolute;
	right:0;
	top:0;
	display: table;
	height:75px;
}

#header .lang-sec .coverSelect {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}