#info-panel {
	margin:50px 0 0;
}
@media (max-width: 575px) {
	#info-panel {
		margin-top:20px;
	}
}
#info-panel .panel-box {
    background: #fff;
    border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgb(148 169 196 / 28%);
	box-shadow: 0px 0px 5px 0px rgb(148 169 196 / 28%);
	padding-bottom:20px;
	font-size:18px;
	color:#848484;
}
#net-status-box{
	width:100%;
	margin:0 auto;
	position:relative;
	padding: 1.5% 0 2% 0;
}

#net-status-box img {
	max-width:100%;
}

#net-status-box .line-sec{
	text-align:center;
	position:static;
}

#net-status-box .line-sec .wrapper{
	height:100%;
	position:absolute;
	top:34%;
	margin-top:32px;
}

#net-status-box .line {
	width:90%;
	height:2px;
	background:#05c9b1;
	margin:0 auto;
}

#wan-status-line.line{
	background:#c8c8c8;
}

#wan-status-line.online{
	background:#05c9b1;
}

#wan-status-line.offline{
	background:#d10505;
}

.status-txt{
	font-size:22px;
	line-height:30px;
	display:inline-block;
}

#freq-5g-sec.off{
	display:none;
}

#freq-2g-sec,#freq-5g-sec,#mesh-line {width:100%; position:absolute; left:0; height:21px; line-height:1; text-align:left; margin-left:10%; margin-right:10%;zoom:1; }
#freq-2g-sec, #mesh-line{
	top:-24px;
}

#freq-5g-sec {
	top:3px;
}


#freq-2g-sec span,#freq-5g-sec span { font-size:14px; color:#05c9b1; line-height:21px; float:left; height:100%; }
.ssid_wrapper { float:left; zoom:1; overflow: hidden; }
#freq-2g-sec span.ssid-val,#freq-5g-sec span.ssid-val { color:#8F8F8F; float:left; margin-left:2px; margin-right:10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#wan-status-icon {  width:30px; background:#fff; position:absolute; left:50%; top:-14px; margin-left:-14px;}
#wan_ip,#wan_ipv6 { font-size:14px; width:100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#wan_ip { margin-top:14px;}
#wan_ipv6 { position:absolute; left:0; top:-29px; }
#usb-icon { width:26px; margin-left:-15px; position:absolute; left:45%; top:-10px;   }
#usb-icon span { font-size:12px; color:#05c9b1; border:1px solid #05c9b1; border-radius:2px; padding:0 3px; position:absolute; right:-30px; top:0; line-height:14px;  }
#usb-icon img { max-width:100%; }

.icon-sec {
	margin-top:32px;
	text-align:center;
}
.icon-describe {
	margin-top:16px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.value-box {
	color:#05c9b1;
}

#router-info-box {
	background:#f5f5f5;
	border:1px solid #f3f3f3;
	border-radius:4px;
	width:90%;
	margin:0 auto;
	margin-top:10px;
	position:relative;
}

#router-info-box > div{
    white-space: nowrap;
}

#router-info-box .value-box {
	font-size:30px;
	line-height:48px;
	color:#05c9b1;
	font-family:Arial, Helvetica, sans-serif;
}

#router-info-box .value-unit {
	line-height:18px;
}

#router-info-box .txt-box {
	margin-right:20px;
	padding-left:20px;
	display:inline;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#router-info-box .value-box-sec {
	display:inline-block;
}

#run-time-sec { text-align:center; }
#online-dev-sec { text-align:right; }
#login-site-sec { color:#05c9b1; font-weight:bold; font-size:18px; }

.router_brand{margin: 5% auto auto auto ;    display: block;}
#router_name_index{font-size: 18px;color: #777777;}
.ix_p2{padding: 5%;position: relative;}
.net_status_title{
	height: 140px;
	border-bottom: 2px solid #dfdfdf;
}
.net_status_title h6{
	font-size: 18px;
	color: #777777;
	text-align: center;
	font-weight: 400;
	margin-bottom: 20px;
}
.net_status_title p{
	color: #409eff;
	font-size: 58px;
	text-align: center;
}
#offline-val{
	color: #777777;
}
.boder_rigit{
	width: 2px;
	height: 127px;
	background-color: #dfdfdf;
	right: 0;
	top: 16px;
	    display: block;
    position: absolute;
}
.status_box{
	font-size: 15px;
    text-indent: 20%;
   /*text-align: center;*/
    padding-top: 20px;
    position: relative;
}
.status_box p{margin-top: 10px;}
.status_box .boder_rigit {
	top: 0;
}

.equipment_online{
	font-size: 16px;
	margin-top: 10px;
	text-align: center;
}
.unnetworked_bg{
	background-image:url(../images/error2.png);
	background-repeat: no-repeat;
	background-position: 90% center;
}

.apac .menu-item{
	background: #fff;
    border-radius: 10px;
/*    width: 80%;*/
    display: block;
    padding-bottom: 20px;
    margin-bottom: 40px;
    /*text-align: center;*/
	-webkit-box-shadow: 0px 0px 5px 0px rgb(148 169 196 / 28%);
	box-shadow: 0px 0px 5px 0px rgb(148 169 196 / 28%);
}
.apac .menu-item-img{
	width:80px;
    height: 80px;
    display: inline-block;
        margin: 20px 0 0 30px;
    float: left;
    /*margin-top: 50px;
    margin-bottom: 27px;*/
}
.apac .menu-item h3{
	width: 200px;
	/* float: left; */
	font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
	margin:45px auto 0 10px;
	width: auto;
	/*margin-top: 20px;*/
    /*margin-bottom: 10px;*/
	

}
.apac .menu-item-p,.menu-item-p{
	font-size: 15px;
    color: #999;
    line-height: 1;
    padding-bottom: 50px;
	width:90%;
	margin:0 auto;
	
}
.apac .menu-item-p{
	display: none;
}
.apac .module-sec {
    padding: 0 1% !important;
}
@media (max-width: 1500px) {
	#net-status-box img {
		max-width: 75%;
	}
	.apac .menu-item-img{
		width:68px;
		height:68px;
		margin-top:40px;
		margin-bottom:5px;
	}
	
	.apac .menu-item h3{
		font-size:18px;
	}
	.apac .menu-item-p{
		font-size:16px;
		padding-bottom:40px;
	}	
	
		
}

@media (max-width: 1100px) {
	#wan-status-icon {  width:22px; margin-left:-12px; top:-12px; }
	.icon-describe,#router-info-box {font-size:16px;}
	#router-info-box .value-box {
		font-size:28px;
	}
	
	#net-status-box .line-sec .wrapper { top:30%; }
	
	#login-site-sec { font-size:16px; }
}
@media (max-width: 1024px) {
	.apac .menu-item-img{
		width:58px;
		height:58px;
		margin-top:30px;
	}
	.apac .menu-item h3{
		font-size:16px;
	}
	.apac .menu-item-p{
		font-size:14px;
		padding-bottom:30px;
	}
}
@media (max-width: 780px) {
	#usb-icon { width:20px; left:47%; }
	#usb-icon span { font-size:10px;-webkit-transform:scale(0.83); right:-26px; }

}

@media (max-width: 768px) {
	.icon-describe { margin-top: 14px; }

	#wan-status-icon {  width:18px; margin-left:-9px; top:-14px; }
	
	#freq-2g-sec { top:-21px; }
	#freq-2g-sec,#freq-5g-sec {height:16px;}
	#freq-2g-sec span,#freq-5g-sec span { font-size:12px; line-height:16px; }
	#wan_ip { font-size:12px; margin-top:10px; }
	#wan_ipv6 { font-size:12px;}
	
	#login-site-sec { font-size:14px; }
	
	#router-info-box .value-box {
		font-size:24px;
	}
	
	#module-list-sec .col-xs-12 , #module-list-sec .col-sm-4{
		width:100%;
		    margin-bottom: 10px;
	}
	
	.apac .menu-item {text-align: center; padding:0; margin:0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }
	
	.apac .menu-item-img{
		width:58px;
		height:58px;
		margin-top:30px;
		margin-right:0;
		position:relative;
		left:inherit;
		top:inherit;
		float: none;
	}
	.apac .menu-item h3{
		font-size:16px;
		margin:20px 0 0 0;
		padding-bottom:10px;
		text-align:center;
		width:100%;
	}
	
	.module-sec{ border-right:1px solid #e7eaf3; border-bottom:1px solid #e7eaf3; }
	
	.apac .menu-item:after { display:none; }
	
	#module-list-sec { margin:0; }
	
	.module-sec {
		padding: 0 !important;
	}
	
}

@media (max-width: 650px) {
	#router-info-box .txt-box { display:block; margin-top:10px; padding-left:10px; margin-right:10px; }
	#router-info-box .value-box-sec { display:block; }
	#speed-val { margin-left:20px; }
	
	#net-status-box img {
		max-width: 100%;
	}
}

@media (max-width: 480px) {
	
	#net-status-box .line-sec .wrapper { top:23%; }
	
	.icon-describe,#router-info-box {font-size:12px;}
	.icon-describe { margin-top: 10px;}
	#login-site-sec { font-size:12px; }
	
	#usb-icon { width:18px; left:47%;  }
	#usb-icon span { font-size:8px;-webkit-transform:scale(0.66); right:-22px; }
	
	#router-info-box .value-box {
		font-size:21px;
	}
	
	#wan_ip,#wan_ipv6 { font-size:10px;-webkit-transform:scale(0.83); width:100%; }
	
	.apac .menu-item{
		padding: 16px 16px;
		position: relative;
		min-height: 70px;
		width: 100%;
		margin:0;
		border-radius:0;
		-webkit-box-shadow:none;
		box-shadow:none;
	}
	
	.apac .menu-item:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1px;
		background: #e7eaf3;
		left:68px;
	}
	
	.apac .module-sec:last-child .menu-item:after {
		display:none;
	}
	
	.apac .menu-item-img {
		width: 36px;
		height: 36px;
		line-height: 22px;
		font-size: 22px;
		border-radius: 50%;
		margin:0 16px 0 0;
		position: absolute;
		left: 16px;
		top: 18px;
	}
	.apac .menu-item h3, .menu-item h3{
		margin: 0 0 0 52px;
		line-height: 36px;
		width:100%;
		
		text-align:left;
		font-weight:normal;
	}
	.apac .menu-item h3,{
		float: none;
	}
	.apac .menu-item-p { display:none; }
	
}

@media (max-width: 320px) {
	.icon-describe {margin-top: 8px;}
	#wan-status-icon {
		width: 16px;
		margin-left:-8px;
		top:-8px;
	}
	
	#router-info-box .value-box {
		font-size:16px;
	}
	
	
	
	.apac .menu-item-img{
		width:32px;
		height:32px;
		margin-top:5px;
		margin-bottom:5px;
	}
	.apac .menu-item h3 {
		font-size:14px;
		margin-top:5px;
	}
	.apac .menu-item-p{
		font-size: 12px;
		padding-bottom:35px;
	}
	
	.apac .menu-item:after {
		left:58px;
	}
}
.tooltip { white-space: nowrap; }
