body{
	/*background-color:#f1f4f6 !important;*/
}
.inner-ring {
	background:#f1f4f6;
}
.container-list { padding-bottom:20px; }
.container-list .col-md-8 { zoom:1; overflow:hidden;}

.err-sec {
	top:135px;
	background:#fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgb(148 169 196 / 28%);
	box-shadow: 0px 0px 5px 0px rgb(148 169 196 / 28%);
	margin: 0 auto 20px;
	overflow-y: hidden;
	overflow-x: scroll;
	width:66.66666667%;
	left: 16.66666667%;
}
@media (max-width: 575px){
	.err-sec{ border-radius:0; -webkit-box-shadow:none; box-shadow:none; position:absolute; left:0; top:0; width:100%; height:100%;}
	.module-sec { padding:0 !important; }
	.container-list .col-md-8 { border-radius: 10px; -webkit-box-shadow: 0px 0px 5px 0px rgb(148 169 196 / 28%);box-shadow: 0px 0px 5px 0px rgb(148 169 196 / 28%);}
	
	.g-wrapper{
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
	
}
@media (min-width: 767px){
	.err-sec{ width: 95%; left:2.5%;}
}

@media screen and (min-width:768px) and (max-width:869px){
	.err-sec{ width:90%;left:5%; }
}


@media screen and (min-width:870px) and (max-width:1240px){
	.err-sec{ width:84%;left:8%; }
}

@media screen and (min-width:1241px) and (max-width:1299px){
	.err-sec{ width:74%;left:13%; }
}